{% extends "azure_content/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

  <div class="holder shadow"> 
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card"> 
                <div class="titel p-2">
                    <button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check icon"></i>Confirm</button>
                    {% if "edit" not in request.path%}
                        <i class="fas fa-file-invoice icon"></i>  New entry
                    {%else%}
                        <i class="fas fa-file-invoice icon"></i>  Edit entry
                    {%endif%}
                </div>
            
            
            </div>
        
            <div class="shadowholder">
                <div class="subtitel2"> 
                    <div> <i class="fas fa-sticky-note icon"></i> Create a new service request </div>
                </div>
                <div class="content mb-3"> 
                    {{ form.name|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
        </form>
    </div>


{% endblock content %}