{% extends "azure_content/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}

  <div class="holder"> 
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card text-center"> 
            <i class="fas fa-file-invoice icon"></i>  Are you sure that you want to delete {{object}}?
            <button type="submit" class="btn btn-danger"> <i class="fas fa-check icon"></i> YES</button>
        </form>
        <a href="{{home_url}}" class="btn btn-primary"> <i class="fa-solid fa-circle-xmark"></i>  NO</a>
    </div>


{% endblock content%}